# Recommendation System

# Libraries

In [134]:
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD

# Dataset

### First Dataset

In [135]:
ratings = pd.read_csv('ratings.csv')
columns = ['book_id', 'user_id', 'rating']

### Second Dataset

In [136]:
books = pd.read_csv('books.csv')
coumns = ['id', 'book_id', 'best_book_id', 'work_id', 'books_count',
'isbn', 'isbn13', 'authors', 'original_publication_year', 'original_title', 'title',
'language_code', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url']

### Mixed Data

In [137]:
combined_data = pd.merge(ratings, books, on='book_id')
combined_data.head()

,book_id,user_id,rating,id,best_book_id,work_id,books_count,isbn,isbn13,authors,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,314,5,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
1,1,439,3,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
2,1,588,5,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
3,1,1169,4,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
4,1,1185,4,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...

# Main Program

In [138]:
rating_utility = combined_data.pivot_table(values = 'rating', index = 'user_id', columns = 'title', fill_value=0)
rating_utility.head()

title,'Salem's Lot,"'Tis (Frank McCourt, #2)",1421: The Year China Discovered America,1776,1984,A Bend in the River,A Bend in the Road,A Brief History of Time,A Briefer History of Time,A Case of Need,...,"Women in Love (Brangwen Family, #2)",World War Z: An Oral History of the Zombie War,"World Without End (The Kingsbridge Series, #2)",Wuthering Heights,"Xenocide (Ender's Saga, #3)",Year of Wonders,You Shall Know Our Velocity!,Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values,Zodiac,number9dream
user_id,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
X = rating_utility.T

In [140]:
SVD = TruncatedSVD(n_components=30)
transposed_matrix = SVD.fit_transform(X)
transposed_matrix.shape

(812, 30)

In [141]:
corr_matrix = np.corrcoef(transposed_matrix)
books = rating_utility.columns
book_list = list(books)
book_1984 = book_list.index('1984')
book_1984

4

In [142]:
corr_1984 = corr_matrix[4]

In [143]:
list(books[(corr_1984 < 1.0) & (corr_1984 > 0.8)])

['Ivanhoe',
 'Night Over Water',
 'Reading Lolita in Tehran',
 'The Great Book of Amber (The Chronicles of Amber, #1-10)',
 'The King of Torts',
 'The Stories of Eva Luna',
 'Travels with Charley: In Search of America']

In [144]:
list(books[(corr_1984 < 1.0) & (corr_1984 > 0.7)])

['A Christmas Carol',
 'Cry, the Beloved Country',
 'Do Androids Dream of Electric Sheep?',
 "Giada's Family Dinners",
 'Ivanhoe',
 'Lolita',
 "Morality for Beautiful Girls (No. 1 Ladies' Detective Agency, #3)",
 'Night Over Water',
 'Persuasion',
 'Reading Lolita in Tehran',
 'The Great Book of Amber (The Chronicles of Amber, #1-10)',
 'The King of Torts',
 'The Stories of Eva Luna',
 'Travels with Charley: In Search of America',
 'Wolves of the Calla (The Dark Tower, #5)']